.loading_title {
    color: rgb(15, 14, 4);
    font-size: 60px;
    text-align: center;
    margin-bottom: 0;
}



.details_container {
    background: #ffffff6e;
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 20px;
    border-radius: 7px;
    border: 1px solid #5353536c;
    display: flex;
}

.left_details {
    text-align: center;
    margin-left: 12%;
}

.right_details {
    margin-left: 10%;
    margin-top: 7%;
}

.name1, .id1 {
    color: #0e0b05;
}

.btn {
    margin-left: 10%;
    margin-top: 20%;
}

.btn_home {
    cursor: pointer;
    padding: 5px;
    border-radius: 3px;
    background: #ffea00;
    border-color: #ffea00;
    color: #000000;
    transition: all 0.3s ease;
    font-size: 14px;
    font-weight: bold;
}

.btn_home:hover {
    color: #000000;
    background: none;
    border-color: #000000;
}